body {
    background: linear-gradient(100deg, rgb(0, 104, 104), black);
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container:first-of-type {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    background: rgba(25, 170, 172, 0.355);
    border-radius: 11px;
    padding: 11px;
    text-align: center;
    width: 85%;
    /*border: 1px solid rgb(0, 142, 123);*/
    box-shadow: -2px -5px 11px 1px rgb(0, 200, 160),2px 5px 11px 1px rgb(0, 0, 0);
}

button:hover {
    transform: scale(0.95);
}

button {
    transition: transform 0.2s ease;
    padding: 5px 27px;
    border-radius: 11px;
    border: 1px solid rgb(30, 131, 131);
    background: rgb(0, 255, 229);
    cursor: pointer;
}

hr {
    margin-bottom: 44px;
}

.result {
    margin-top: 33px;
    margin-bottom: 33px;
}

#jsTest {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"] {
    width: 70px;
    border-radius: 7px;
    border: none;
    padding: 2px 7px;
}

input:focus {
    outline: none;
}
